.post-request-block {
    padding: 70px 0;
}

.post-request-title {
    text-align: center;
    line-height: 1;
    font-size: 40px;
    margin-bottom: 50px;
}

// .my-form {
//     max-width: 380px;
//     width: 100%;
//     margin: 0 auto;
// }

.input-form-wrap {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    &:last-child {
        margin-bottom: 25px;
    }
}

.form-radio-title {
    margin-bottom: 10px;
}

.input-form {
    // width: 100%;
    // margin: 0 auto;
    // max-width: 350px;
    padding: 15px;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    color: #7E7E7E;
    background: #E5E5E5;
    &.error {
        border: 1px solid #CB3D40;
    }
}

.form-radio-block {
    max-width: 380px;
    width: 100%;
    margin: 0 auto 50px;
}

.form-btn-wrap {
    text-align: center;
}

.input-error-text {
    color: #CB3D40;
    font-size: 12px;
    margin: 5px 0 0 15px;
}

input:focus-visible {
   outline: none;
}

.form-btn {
    display: block;
    padding: 5px 0px;
    border-radius: 80px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    background: #F4E041;
    max-width: 100px;
    margin: 0 auto;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.form-btn:disabled,
.form-btn[disabled] {
    background: #B4B4B4;
    color: #fff;
    cursor: default;
}

.input-radio-form {
    width: 20px;
    height: 20px;
}

.form-radio-wrap-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    label {
        padding-left: 10px;
    }
}

.number-example {
    font-size: 12px;
    color: #7E7E7E;
    padding-left: 15px;
    margin-top: 5px;
    &.error {
        color: #CB3D40;
    }
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    cursor: pointer;
    border: 1px solid #7E7E7E;
    border-radius: 4px;
    &.error {
        border: 2px solid #CB3D40;
    }
}

.upload-block {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px 0px 0px 4px;
    &.error {
        border: none;
        border-right: 2px solid #CB3D40;
    }
}

.upload-photo-block {
    padding: 15px;
    color: #7E7E7E;
}

.post-form {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}
